:root {
  --primary-blue: hsl(220, 98%, 61%);

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  /* --light-grayish-blue (hover): hsl(236, 33%, 92%); */
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;
}
  
/* Todo Content */
.todo-container {
  width: 100%;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(images/bg-desktop-light.jpg);
  background-size: 100%;
  position: relative;
}

.todo-header {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: white;
  text-shadow: 0 0 0.5rem var(--light-grayish-blue);
}
  
.theme-toggle img {
  filter:drop-shadow( 0 0 0.2rem var(--light-grayish-blue));
}
  
.todo-input-container {
  width: 350px;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 13px 1px var(--light-grayish-blue);
}

.check-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
}

.complete {
  background-image: 
  url(images/icon-check.svg),
  linear-gradient(to left,hsl(280, 87%, 65%), hsl(192, 100%, 67%))
  ;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  border: none;
  flex: content;
  padding: 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input::placeholder{
  color: var(--light-grayish-blue);
}

.todo-list-and-functions{
  width: 350px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 13px 1px var(--light-grayish-blue);
}

.todo {
  width: 350px;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--light-grayish-blue);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.incomplete {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

.hide {
  display: none;
}

i {
  display: flex;
  flex: 1;
  opacity: 0;
  transition: 0.1s;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  position: absolute;
  right: 1rem;
}

i:hover {
  opacity: 1;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}
  
.functions-container {
  display: flex;
  width: 350px;
  height: 3rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.functions-container p {
  font-size: 0.6rem;
  cursor: pointer;
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.todo-status {
  display: flex;
  gap: 0.5rem;
}
  
#drag-option {
  margin-top: 5rem;
  font-size: 0.7rem;
  color: var(--light-grayish-blue);
}
  
/* Footer */
footer {
  margin-top: 2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
  
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

/* Dark Theme */
.dark {
  background-image: url(images/bg-desktop-dark.jpg);
}

.active {
  background-color: var(--very-dark-grayish-blue);
  box-shadow: none;
}

.dark-bg {
  background-color: var(--very-dark-blue);
}

.dark-todo {
  border-bottom: 1px solid var(--dark-grayish-blue);
  color: var(--light-grayish-blue);
}

.dark-circle {
  border: 1px solid var(--dark-grayish-blue);
}

.dark-input {
  color: var(--very-light-grayish-blue);
}

.dark-title {
  text-shadow: none;
}